* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B4332;
    padding: 15px 30px;
    color: white;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header ul li a:hover {
    color: #95d5b2;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #2D6A4F, #40916C);
    color: white;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #1B4332;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #d8f3dc;
}

.productos {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 100px;      
    object-fit: cover;   
    border-radius: 10px;
}


.card button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #2D6A4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #1B4332;
}

/* CARRITO */
.carrito {
    padding: 40px;
    background-color: #e9ecef;
}

.carrito table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.carrito th, .carrito td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.confirmar {
    padding: 10px 20px;
    background-color: #1B4332;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmar:hover {
    background-color: #081c15;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1B4332;
    color: white;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}
/*
